<div class="footer-container">
    <div class="footer-box-left">
      Harmony of Wilderness <br>
      Colonia Neuland <br>
      Paraguay <br>
      <a href="mailto:info@harmonyofwilderness.com">info&#64;harmonyofwilderness.com</a>
  
  <!-- <a href="#">Impressum </a> | <a href="#"> Datenschutz</a> -->
    </div>
  
    <div class="footer-box-middle">
      <div>
        {{ 'THE_BEST_WAY_TO_REACH_US' | translate }}
      </div>
      <div>
        {{ 'WHATSAPP_OR_TELEGRAM' | translate }}
      </div>
      <div>
          <a href="tel:+595986540771">+595986540771</a>
      </div>
      <!-- Am besten erreichst du uns über <br> Whatsapp oder Telegramm: <br>
      <a href="tel:+595986540771">+595986540771</a> -->
    </div>
  
    <div class="footer-box-right">
      <div>
          <a [routerLink]="['/impressum']">{{ 'IMPRINT' | translate }} </a> | <a [routerLink]="['/privacy-policy']"> {{ 'PRIVACY_POLICY' | translate }}</a>
          <!-- <a id="impressum-icon" [routerLink]="['/impressum']">{{ 'IMPRINT' | translate }}</a> -->
      </div>
      <div>
          © Harmony of Wilderness 2024
      </div>
      
    </div>
  
  </div>