<div class="calendar-component">
    <h2>Verfügbarkeit</h2>
    <div class="content">
      
  
      <div class="second-section">
        <iframe
          src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=America%2FAsuncion&showPrint=0&title=Harmony%20of%20Wilderness&showTz=0&src=Z3M5anFlbXA0ZWlrdTNoYmhkNGE5ZmpjcjhpN241bjNAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23D50000"
          style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
  </div>